{% extends 'common_dashboard.html' %}
{% block title %}Change your password{% endblock %}
{% block content %}

<div class="container">
    <section class="text-center mt-5" style="margin-left: auto; margin-right: auto; width: 30em; height: 25em;">
        <div class="heading bg-secondary p-2 text-white">
            <h5>Change your password</h5>
        </div>
        <div class="mt-4">
            <form onsubmit="return (validate())" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" name="email_id" type="text" placeholder="Email ID">
                </div>
                <div class="form-group">
                    <input class="form-control" name="current_password" type="text" placeholder="Current password">
                </div>
                <div class="form-group">
                    <input class="form-control" id="new_password" name="new_password" type="password" placeholder="New password">
                </div>
                <div class="form-group">
                    <input class="form-control" id="confirm_password" name="confirm_new_password" type="password" placeholder="Confirm new password">
                </div>
                <button class="btn btn-secondary btn-block" type="submit">Change password</button>
            </form>
        </div>
    </section>


</div>
<script type="text/javascript">

    function validate()
    {
        if (document.getElementById('new_password').value != document.getElementById('confirm_password').value)
        {
            alert("Password doesn't match");
            return false;
        }
    }

</script>


{% endblock %}