{% extends 'common_dashboard.html' %}
{% block title %} {{request.session.name}} | Student {% endblock %}
{% block content %}

<div class="container">
    <div class="bg-light w-100 p-3 mt-3">
        <h3 class="ml-5 text-info">Add</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center" style="width: max; margin: 1em; color: #008080">
              <i class="fa fa-graduation-cap fa-5x mt-2"></i>
              <div class="card-body">
                <h5 class="card-title">Exam</h5>
                <p class="card-text">Click the below link to attend the exam</p>
                <a href="{% url 'attend_exam' %}" class="btn btn-primary">Click here</a>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center" style="width: max; margin: 1em; color: #008080">
              <i class="fa fa-graduation-cap fa-5x mt-2"></i>
              <div class="card-body">
                <h5 class="card-title">Results</h5>
                <p class="card-text">Click the below link to see your results</p>
                <a href="{% url 'my_results' %}" class="btn btn-primary">Click here</a>
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}